In [7]:
import houseScape
results = houseScape.parse_pages()

ModuleNotFoundError: No module named 'houseScape'

In [1]:
import pandas as pd
pd.options.display.max_rows = None
results

NameError: name 'results' is not defined

In [ ]:
results.describe()

          price (€)
count  2.500000e+02
mean   5.316899e+05
std    3.129114e+05
min    1.150000e+05
25%    3.200000e+05
50%    4.625000e+05
75%    6.460000e+05
max    2.495000e+06

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'